<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>GcTwitterCell</string>
			<key>accountLabel</key>
			<string>MrGcGamer</string>
			<key>account</key>
			<string>MrGcGamer</string>
			<key>URL</key>
			<string>https://pbs.twimg.com/profile_images/1099662093270294529/QmNCdMs0_400x400.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
		</dict>
		<!-- <dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>LoliSubPrefsListController</string>
			<key>label</key>
			<string>Player</string>
			<key>Sub</key>
			<string>Player</string>
			<key>icon</key>
			<string>Icons/MiscIcon.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>defaults</key>
			<string>com.mrgcgamer.loliprefs</string>
			<key>label</key>
			<string>Background</string>
			<key>icon</key>
			<string>Icons/MiscIcon.png</string>
		</dict> -->
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Player Background Style</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.mrgcgamer.loliprefs</string>
			<key>key</key>
			<string>ArtBackground</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>Artwork</string>
				<string>Modern</string>
			</array>
		</dict>
    <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>LoliSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.mrgcgamer.loliprefs</string>
			<key>key</key>
			<string>ShouldColorButtons</string>
			<key>label</key>
			<string>Color Buttons &amp; Labels</string>
		</dict>
	</array>
</dict>
</plist>
